*.o
*.gcda
*.gcno
*.a
*.so
*.ko.cmd
*.mod.o.cmd
*.o.cmd
*.tmp_versions
Module.symvers
*.ko
*.mod.c
*.swp
modules.order
mkfs.eutropia
ycsb-edb
ycsb-rdb
ycsb-ndb
mkfs.out
nohup.out
test_rdma
create_regions
fake_client
tucanaserver
put_get_test
test1
kreon/CLHT/*
kreon/uthash-master/*
scan_test
hbase-0.98.1-cdh5.1.2/*
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
scripts/kreonR/hosts
Makefile
ansible/*.retry
external-deps
YCSB-CXX/*.sh
tags
compile_commands.json
.clangd/
__pycache__/
*.py[cod]
*$py.class
.ccls-cache/
.ccls-root
