plot ARG2 using 2:xtic(1) title "RocksDB" lc rgb '#9400d3'0
build/
compile_commands.json
.clangd/
__pycache__/
*.py[cod]
*$py.class
.ccls-cache/
.ccls-root
.gitlab-ci-local
.cache
docs/html
docs/xml
docs/latex
*.tmp
venv/
CMakeUserPresets.json
