---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            exclude: docs/
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: forbid-new-submodules

    - repo: https://github.com/cheshirekow/cmake-format-precommit
      rev: v0.6.13
      hooks:
          - id: cmake-format

    - repo: https://github.com/doublify/pre-commit-clang-format
      rev: 62302476d0da01515660132d76902359bed0f782
      hooks:
          - id: clang-format

    - repo: https://github.com/jumanjihouse/pre-commit-hooks
      rev: 3.0.0
      hooks:
          - id: shellcheck
            additional_dependencies: []
          - id: shfmt
          - id: protect-first-parent
          - id: forbid-binary
            exclude: docs/logo.jpg


    - repo: https://github.com/psf/black
      rev: 22.12.0
      hooks:
          - id: black

    - repo: local
      hooks:
          - id: pyright
            name: pyright
            entry: pyright
            language: node
            pass_filenames: false
            types: [python]
            additional_dependencies: [pyright@1.1.208]

    - repo: https://github.com/jorisroovers/gitlint
      rev: v0.18.0
      hooks:
          - id: gitlint
            stages: [commit-msg]
            entry: gitlint
            args: [--msg-filename]

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.2
      hooks:
          - id: yamlfmt
            exclude: options.yml
